@import '../../styles/variables';
.card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  background: $color-light-grey;
  border-radius: 10px;
  font-family: $font-ledger;
  &__top,
  &__bot {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  &__top {
    justify-content: space-between;
  }
  &__bot {
    justify-content: right;
    gap: 2rem;
  }
}
